<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Console name="Console_Short" target="SYSTEM_OUT">
      <PatternLayout pattern="%msg"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="com.montevar.output.TextOutput" level="debug" additivity="false">
      <AppenderRef ref="Console_Short"/>
    </Logger>
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>